body{
    background-image: url(/free-nature-images.jpg);
    background-size: cover;
    width: 100%;
    color: aliceblue;
    font-size: 24px;
};

@media only screen and (min-width: 768px){
    body{
        background-image: url(/free-nature-images.jpg);
        background-size: cover;
        width: 100%;
        color: aliceblue;
        font-size: 24px;
    };
};
